html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

:global .speechBubble {
	position: relative;
    background: black;
    border-radius: 6em;
    width: 300px;
    height: 90px;
    text-align: center;
    padding-top: 20px;
    color: white;
}

:global .speechBubble:after {
	content: '';
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: black;
    border-bottom: 0;
    border-left: 0;
    margin-left: -25px;
    margin-bottom: -35px;
}
:global .largeImg {
    width: 950px;
    display: block;
    float: left;
    background-color: black;
    margin: -9% 0 0 25%;
}
@media (max-width: 1326px) {
 
    :global .speechBubble {
        margin-bottom: 130px;
    }
    :global .largeImg img {
        width:777px;
    }
    :global .largeImg {
        width:777px;
        margin: -20% 0 0 30%;
    }
}
@media (max-width: 1300px) {
    :global .largeImg {
        display: none;
     }
}
